<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        
        {{>header}}      

        {{title}} <br/><br/>
        <p>You are missing a valid page request</p>

        {{>footer}}
    </body>

    
    
</html>