<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        {{>header}}        
<p>
        From software pioneer to
IT social network...
Within a few years, a series of events unfolded that would forever change the way 
the IT industry connects. Conversations in our feature request forum began to evolve — from discussions about our 
app to broader topics about the latest technologies, pressing IT questions, and new challenges IT pros were tackling.
 The Spiceworks Community rapidly evolved into the place where millions of IT pros and thousands of tech brands come
  together every year to solve tech challenges and support each other, making it the largest, most unique IT community of its kind.

  </p>
    </body>

    <footer>{{>footer}}</footer>
    
</html>