<!DOCTYPE html>

<html>
    <head>
          <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        {{>header}}
        <p>Help is coming! Call 911!</p>
    </body>

<footer>{{>footer}}</footer>
    
</html>